body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div {
  width: 100%;
}

.auth-container {
  display: flex;
  border: 1px solid black;
  max-width: 500px;
  height: 150px;
  border-bottom: 0;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  align-items: center;
}
